%h1 Google OAuth2 example app

.form-wrapper
  = form_tag do 
    .group
      = label_tag :my_auth, "OAuth2 Authentication:"
      = fancy_oauth2_tag :my_auth, params[:my_auth]
    %p Once you have a green button above, click "Save changes" to send the form data. You'll find the actual token values in Debugging info below.
    = submit_tag

%h2 Debugging info

%p.gray 
  Below is the value of 
  %strong params[:my_auth]
  = debug(params[:my_auth])

